.container-fluid{
  background-color: rgb(255, 255, 255);
  font-size: xx-large;
  margin-top: 0;
  border: 2px solid rgba(136, 136, 136, 0.135);
  
  

}

.navbar-brand{
  margin-left: 160px;
  margin-top: 50px;
  margin-bottom: 30px;



}





